.btn {
  display: flex;
  min-width: 24px;
  min-height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 5px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}
/* variant style  */

.primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.secondary {
  background: var(--secondary-color);
  color: var(--dark-color);
}

.tertiary {
  background: var(--tertiary-color);
  color: var(--light-color);
}

.success {
  background: var(--success-color);
  color: var(--light-color);
}
.danger {
  background: var(--danger-color);
  color: var(--light-color);
}
.dark {
  background: var(--dark-color);
  color: var(--light-color);
}
.light {
  background: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

/* Variant style hovered  */
.primary:hover {
  background: var(--primary-color-hover);
}

.secondary:hover {
  background: var(--secondary-color-hover);
}

.tertiary:hover {
  background: var(--tertiary-color-hover);
}

.success:hover {
  background: var(--success-color-hover);
}
.danger:hover {
  background: var(--danger-color-hover);
}
.dark:hover {
  background: var(--dark-color-hover);
}
.light:hover {
  background: var(--dark-color-hover);
  color: var(--light-color);
  border: 1px solid var(--dark-color);
}
/* dc */
/* Size style */
.s-auto {
  width: 100%;
}
.sx {
  width: 80px;
}

.sm {
  width: 100px;
}

.md {
  width: 120px;
}

.lg {
  width: 150px;
}

.xl {
  width: 200px;
}

.h-auto {
  height: 30px;
}

.h-sx {
  height: 25px;
}

.h-sm {
  height: 35px;
}

.h-md {
  height: 40px;
}

.h-lg {
  height: 45px;
}

.h-xl {
  height: 80px;
}
/* border radius */

.rounded-sx {
  border-radius: 2px;
}

.rounded-sm {
  border-radius: 5px;
}

.rounded-md {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 15px;
}
.rounded-xl {
  border-radius: 30px;
}
