:root {
  /* --max-width: 1100px; */
  /* --border-radius: 12px; */
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* BASIC COLOR  */
  --body-background-color: #f4ecd8;
  --body-foreground-color: #2a3034;

  --primary-color: #f3722c;
  --secondary-color: #f9c74f;
  --tertiary-color: #2a9d8f;
  --light-color: #f0f0f0;
  --blue-light-color: #cdeaf0;
  --dark-color: #264653;
  --night-color: #1a1a1a;
  --accent-color: #bf1363;
  --danger-color: #c70039;
  --success-color: #28a745;
  --warning-color: #f4a261;
  --sun-color: #ffe14b;

  /* BASIC HOVERED */
  --primary-color-hover: #f3722ce6;
  --secondary-color-hover: #f9c74fe6;
  --tertiary-color-hover: #2a9d8fe6;
  --light-color-hover: #f0f0f0e6;
  --blue-light-color-hover: #cdeaf0e6;
  --dark-color-hover: #264653e6;
  --night-color-hover: #1a1a1ae6;
  --accent-color-hover: #bf1363e6;
  --danger-color-hover: #c70039e6;
  --success-color-hover: #28a745e6;
  --warning-color-hover: #f4a261e6;
  --sun-color-hover: #ffe14be6;
}
/* Si le theme du navigateur est dark */

@media (prefers-color-scheme: light) {
  :root {
    /* BASIC COLOR  */
    --body-background-color: #2a3034;
    --body-foreground-color: #f4ecd8;

    --primary-color: #f3722c;
    --secondary-color: #f9c74f;
    --tertiary-color: #2a9d8f;
    --light-color: #f0f0f0;
    --blue-light-color: #cdeaf0;
    --dark-color: #264653;
    --night-color: #1a1a1a;
    --accent-color: #bf1363;
    --danger-color: #c70039;
    --success-color: #28a745;
    --warning-color: #f4a261;
    --sun-color: #ffe14b;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: var(--body-background-color);
  color: var(--body-foreground-color);
}

a {
  color: var(--body-foreground-color);
  text-decoration: none;
}

.main-container {
  margin-top: 60px;
  min-height: 90vh;
  padding: 20px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 786px) and (max-width: 1120px) {
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}
