.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.case {
  width: 100px;
  height: 100px;
  background: var(--blue-light-color);
}

.btnDiv {
  display: flex;
  gap: 20px;
}
