/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.menu__link {
  color: var(--night-color);
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--night-color);
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}
